@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Smooth GIF loop animation */
.gif-loop {
  animation: fadeLoop 4s infinite;
  opacity: 1;
}

@keyframes fadeLoop {
  0%,
  95%,
  100% {
    opacity: 1;
  }
  97% {
    opacity: 0.95;
  }
}
